        body {
            background: rgb(51, 1, 51);
            color: whitesmoke;
            font-size: medium;
            height: 100vh;
            width: 100vw;
            font-family: Helvetica, Arial, sans-serif;
        }
        
        .wrapper {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 12.5%;
            margin-bottom: 25%;
            display: flexbox;
            justify-items: center;
        }
        
        h1 {
            /* width: 50%; */
            text-align: center;
        }
        
        p {
            text-align: center;
            height: 1.7rem;
            padding: 0.3em 0.3em 0.3em 0.3em;
        }
        
        form {
            display: grid;
            align-items: center;
        }
        
        input {
            height: 1.7rem;
            border: none;
            /* width: 50%; */
        }
        
        input[type="button"] {
            font-weight: bold;
            margin-left: 45%;
            margin-right: 25%;
            width: fit-content;
        }
        
        .guessSubmit:hover:enabled {
            background-color: rgb(156, 126, 156);
            color: white;
            height: 2.1rem;
        }
        
        input[type="text"] {
            border-radius: 3px;
            margin-left: 25%;
            margin-right: 25%;
        }
        
        label {
            text-align: center;
            margin-bottom: 2%;
        }